<h1>Edit Product</h1>
<% @items.each do |item| %>
<p class="mb-4">
<%= f.label :title %>
<%= f.text_field :title, required: true, minlength: 5, class:"inline-flex py-2 px-3 hover:bg-slate-200 rounded" %>
</p>

<p class="mb-4">
<%= f.label :body %>
<%= f.text_field :body, required: true, minlength: 10, class:"inline-flex py-2 px-3 hover:bg-slate-200 rounded" %>
</p>

<p class="mb-4">
<%= f.label :price %>
<%= f.text_field :price, required: true, minlength: 1, class:"inline-flex py-2 px-3 hover:bg-slate-200 rounded" %>
</p>

<p class="mb-4">
<%= f.label :category_id %>
<%= f.select :category_id, Category.all, class:"inline-flex py-2 px-3 hover:bg-slate-200 rounded" %>
</p>

<p class="mb-4">
<%= f.label :subcat_id %>
<%= f.select :subcat_id, Subcat.all, class:"inline-flex py-2 px-3 hover:bg-slate-200 rounded" %>
</p>


<%= f.submit "Done", class:"mt-4 px-4 py-3  leading-6 text-base rounded-md border border-transparent text-white focus:outline-none bg-blue-500 text-blue-100 hover:text-white focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer inline-absolute items-center w-full justify-center items-center font-sm focus:outline-none" %>
<% end %>